{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.timestreamwrite#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.timestreamwrite#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadDataFormat": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadProgressReport": {
      "type": "structure",
      "members": {
        "RecordsProcessed": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        },
        "RecordsIngested": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ParseFailures": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        },
        "RecordIngestionFailures": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        },
        "FileFailures": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        },
        "BytesMetered": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the progress of a batch load task.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "PROGRESS_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRESS_STOPPED"
          }
        },
        "PENDING_RESUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_RESUME"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadTask": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch load task.</p>"
          }
        },
        "TaskStatus": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the batch load task.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Database name for the database into which a batch load task loads data.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Table name for the table into which a batch load task loads data.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Timestream batch load task was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Timestream batch load task was last updated.</p>"
          }
        },
        "ResumableUntil": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a batch load task.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadTaskDescription": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch load task.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "DataSourceConfiguration": {
          "target": "com.amazonaws.timestreamwrite#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration details about the data source for a batch load task.</p>"
          }
        },
        "ProgressReport": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadProgressReport",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ReportConfiguration": {
          "target": "com.amazonaws.timestreamwrite#ReportConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Report configuration for a batch load task. This contains details about where error\n         reports are stored.</p>"
          }
        },
        "DataModelConfiguration": {
          "target": "com.amazonaws.timestreamwrite#DataModelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Data model configuration for a batch load task. This contains details about where a data\n         model for a batch load task is stored.</p>"
          }
        },
        "TargetDatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "TargetTableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "TaskStatus": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the batch load task.</p>"
          }
        },
        "RecordVersion": {
          "target": "com.amazonaws.timestreamwrite#RecordVersion",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p></p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Timestream batch load task was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Timestream batch load task was last updated.</p>"
          }
        },
        "ResumableUntil": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a batch load task.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadTaskId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 32
        },
        "smithy.api#pattern": "^[A-Z0-9]+$"
      }
    },
    "com.amazonaws.timestreamwrite#BatchLoadTaskList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#BatchLoadTask"
      }
    },
    "com.amazonaws.timestreamwrite#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.timestreamwrite#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.timestreamwrite#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Timestream was unable to process this request because it contains resource that\n         already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.timestreamwrite#CreateBatchLoadTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#CreateBatchLoadTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#CreateBatchLoadTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Creates a new Timestream batch load task. A batch load task processes data from\n         a CSV source in an S3 location and writes to a Timestream table. A mapping from\n         source to target is defined in a batch load task. Errors and events are written to a report\n         at an S3 location. For the report, if the KMS key is not specified, the\n         report will be encrypted with an S3 managed key when <code>SSE_S3</code> is the option.\n         Otherwise an error is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed\n            keys</a>. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. For\n         details, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-batch-load.html\">code\n            sample</a>.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#CreateBatchLoadTaskRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.timestreamwrite#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "DataModelConfiguration": {
          "target": "com.amazonaws.timestreamwrite#DataModelConfiguration"
        },
        "DataSourceConfiguration": {
          "target": "com.amazonaws.timestreamwrite#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Defines configuration details about the data source for a batch load task.</p>",
            "smithy.api#required": {}
          }
        },
        "ReportConfiguration": {
          "target": "com.amazonaws.timestreamwrite#ReportConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TargetDatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceCreateAPIName",
          "traits": {
            "smithy.api#documentation": "<p>Target Timestream database for a batch load task.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetTableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceCreateAPIName",
          "traits": {
            "smithy.api#documentation": "<p>Target Timestream table for a batch load task.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordVersion": {
          "target": "com.amazonaws.timestreamwrite#RecordVersion",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#CreateBatchLoadTaskResponse": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch load task.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#CreateDatabase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#CreateDatabaseRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#CreateDatabaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Creates a new Timestream database. If the KMS key is not\n         specified, the database will be encrypted with a Timestream managed KMS key located in your account. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. For\n         details, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-db.html\">code sample</a>.\n      </p>"
      }
    },
    "com.amazonaws.timestreamwrite#CreateDatabaseRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceCreateAPIName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key for the database. If the KMS key is not\n         specified, the database will be encrypted with a Timestream managed KMS key located in your account. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.timestreamwrite#TagList",
          "traits": {
            "smithy.api#documentation": "<p> A list of key-value pairs to label the table. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#CreateDatabaseResponse": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.timestreamwrite#Database",
          "traits": {
            "smithy.api#documentation": "<p>The newly created Timestream database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#CreateTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#CreateTableRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#CreateTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ConflictException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Adds a new table to an existing database in your account. In an Amazon Web Services account, table names must be at least unique within each Region if they are in the same\n         database. You might have identical table names in the same Region if the tables are in\n         separate databases. While creating the table, you must specify the table name, database\n         name, and the retention properties. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See\n            <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-table.html\">code\n            sample</a> for details. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#CreateTableRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceCreateAPIName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceCreateAPIName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream table.</p>",
            "smithy.api#required": {}
          }
        },
        "RetentionProperties": {
          "target": "com.amazonaws.timestreamwrite#RetentionProperties",
          "traits": {
            "smithy.api#documentation": "<p>The duration for which your time-series data must be stored in the memory store and the\n         magnetic store.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.timestreamwrite#TagList",
          "traits": {
            "smithy.api#documentation": "<p> A list of key-value pairs to label the table. </p>"
          }
        },
        "MagneticStoreWriteProperties": {
          "target": "com.amazonaws.timestreamwrite#MagneticStoreWriteProperties",
          "traits": {
            "smithy.api#documentation": "<p>Contains properties to set on the table when enabling magnetic store writes.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.timestreamwrite#Schema",
          "traits": {
            "smithy.api#documentation": "<p> The schema of the table. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#CreateTableResponse": {
      "type": "structure",
      "members": {
        "Table": {
          "target": "com.amazonaws.timestreamwrite#Table",
          "traits": {
            "smithy.api#documentation": "<p>The newly created Timestream table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#CsvConfiguration": {
      "type": "structure",
      "members": {
        "ColumnSeparator": {
          "target": "com.amazonaws.timestreamwrite#StringValue1",
          "traits": {
            "smithy.api#documentation": "<p>Column separator can be one of comma (','), pipe ('|), semicolon (';'), tab('/t'), or\n         blank space (' '). </p>"
          }
        },
        "EscapeChar": {
          "target": "com.amazonaws.timestreamwrite#StringValue1",
          "traits": {
            "smithy.api#documentation": "<p>Escape character can be one of </p>"
          }
        },
        "QuoteChar": {
          "target": "com.amazonaws.timestreamwrite#StringValue1",
          "traits": {
            "smithy.api#documentation": "<p>Can be single quote (') or double quote (\").</p>"
          }
        },
        "NullValue": {
          "target": "com.amazonaws.timestreamwrite#StringValue256",
          "traits": {
            "smithy.api#documentation": "<p>Can be blank space (' ').</p>"
          }
        },
        "TrimWhiteSpace": {
          "target": "com.amazonaws.timestreamwrite#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies to trim leading and trailing white space.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A delimited data format where the column separator can be a comma and the record\n         separator is a newline character.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DataModel": {
      "type": "structure",
      "members": {
        "TimeColumn": {
          "target": "com.amazonaws.timestreamwrite#StringValue256",
          "traits": {
            "smithy.api#documentation": "<p>Source column to be mapped to time.</p>"
          }
        },
        "TimeUnit": {
          "target": "com.amazonaws.timestreamwrite#TimeUnit",
          "traits": {
            "smithy.api#documentation": "<p> The granularity of the timestamp unit. It indicates if the time value is in seconds,\n         milliseconds, nanoseconds, or other supported values. Default is <code>MILLISECONDS</code>.\n      </p>"
          }
        },
        "DimensionMappings": {
          "target": "com.amazonaws.timestreamwrite#DimensionMappings",
          "traits": {
            "smithy.api#documentation": "<p>Source to target mappings for dimensions.</p>",
            "smithy.api#required": {}
          }
        },
        "MultiMeasureMappings": {
          "target": "com.amazonaws.timestreamwrite#MultiMeasureMappings",
          "traits": {
            "smithy.api#documentation": "<p>Source to target mappings for multi-measure records.</p>"
          }
        },
        "MixedMeasureMappings": {
          "target": "com.amazonaws.timestreamwrite#MixedMeasureMappingList",
          "traits": {
            "smithy.api#documentation": "<p>Source to target mappings for measures.</p>"
          }
        },
        "MeasureNameColumn": {
          "target": "com.amazonaws.timestreamwrite#StringValue256",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data model for a batch load task.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DataModelConfiguration": {
      "type": "structure",
      "members": {
        "DataModel": {
          "target": "com.amazonaws.timestreamwrite#DataModel",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "DataModelS3Configuration": {
          "target": "com.amazonaws.timestreamwrite#DataModelS3Configuration",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#DataModelS3Configuration": {
      "type": "structure",
      "members": {
        "BucketName": {
          "target": "com.amazonaws.timestreamwrite#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ObjectKey": {
          "target": "com.amazonaws.timestreamwrite#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "DataSourceS3Configuration": {
          "target": "com.amazonaws.timestreamwrite#DataSourceS3Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration of an S3 location for a file which contains data to load.</p>",
            "smithy.api#required": {}
          }
        },
        "CsvConfiguration": {
          "target": "com.amazonaws.timestreamwrite#CsvConfiguration"
        },
        "DataFormat": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadDataFormat",
          "traits": {
            "smithy.api#documentation": "<p>This is currently CSV.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines configuration details about the data source.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DataSourceS3Configuration": {
      "type": "structure",
      "members": {
        "BucketName": {
          "target": "com.amazonaws.timestreamwrite#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucket name of the customer S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectKeyPrefix": {
          "target": "com.amazonaws.timestreamwrite#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      </p>"
      }
    },
    "com.amazonaws.timestreamwrite#Database": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name that uniquely identifies this database.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database.</p>"
          }
        },
        "TableCount": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total number of tables found within a Timestream database. </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the KMS key used to encrypt the data stored in the\n         database.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the database was created, calculated from the Unix epoch time.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p> The last time that this database was updated. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A top-level container for a table. Databases and tables are the fundamental management\n         concepts in Amazon Timestream. All tables in a database are encrypted with the\n         same KMS key.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DatabaseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#Database"
      }
    },
    "com.amazonaws.timestreamwrite#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.timestreamwrite#DeleteDatabase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#DeleteDatabaseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Deletes a given Timestream database. <i>This is an irreversible\n            operation. After a database is deleted, the time-series data from its tables cannot be\n            recovered.</i>\n         </p>\n         <note>\n            <p>All tables in the database must be deleted first, or a ValidationException error will\n            be thrown. </p>\n            <p>Due to the nature of distributed retries, the operation can return either success or\n            a ResourceNotFoundException. Clients should consider them equivalent.</p>\n         </note>\n         <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.delete-db.html\">code sample</a>\n         for details.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DeleteDatabaseRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#DeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#DeleteTableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Deletes a given Timestream table. This is an irreversible operation. After a\n            Timestream database table is deleted, the time-series data stored in the table\n         cannot be recovered. </p>\n         <note>\n            <p>Due to the nature of distributed retries, the operation can return either success or\n            a ResourceNotFoundException. Clients should consider them equivalent.</p>\n         </note>\n         <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.delete-table.html\">code\n            sample</a> for details.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DeleteTableRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database where the Timestream database is to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream table to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeBatchLoadTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#DescribeBatchLoadTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#DescribeBatchLoadTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Returns information about the batch load task, including configurations, mappings,\n         progress, and other details. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See\n            <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-batch-load.html\">code\n            sample</a> for details.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DescribeBatchLoadTaskRequest": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch load task.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeBatchLoadTaskResponse": {
      "type": "structure",
      "members": {
        "BatchLoadTaskDescription": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the batch load task.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeDatabase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#DescribeDatabaseRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#DescribeDatabaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Returns information about the database, including the database name, time that the\n         database was created, and the total number of tables found within the database. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service\n            quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-db.html\">code sample</a>\n         for details.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DescribeDatabaseRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeDatabaseResponse": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.timestreamwrite#Database",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#DescribeEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#DescribeEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of available endpoints to make Timestream API calls against.\n         This API operation is available through both the Write and Query APIs.</p>\n         <p>Because the Timestream SDKs are designed to transparently work with the\n         service\u2019s architecture, including the management and mapping of the service endpoints,\n            <i>we don't recommend that you use this API operation unless</i>:</p>\n         <ul>\n            <li>\n               <p>You are using <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/VPCEndpoints\">VPC endpoints (Amazon Web Services PrivateLink) with Timestream</a>\n               </p>\n            </li>\n            <li>\n               <p>Your application uses a programming language that does not yet have SDK\n               support</p>\n            </li>\n            <li>\n               <p>You require better control over the client-side implementation</p>\n            </li>\n         </ul>\n         <p>For detailed information on how and when to use and implement DescribeEndpoints, see\n            <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/Using.API.html#Using-API.endpoint-discovery\">The\n            Endpoint Discovery Pattern</a>.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#DescribeEndpointsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeEndpointsResponse": {
      "type": "structure",
      "members": {
        "Endpoints": {
          "target": "com.amazonaws.timestreamwrite#Endpoints",
          "traits": {
            "smithy.api#documentation": "<p>An <code>Endpoints</code> object is returned when a <code>DescribeEndpoints</code>\n         request is made.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#DescribeTableRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#DescribeTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Returns information about the table, including the table name, database name, retention\n         duration of the memory store and the magnetic store. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See\n            <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-table.html\">code\n            sample</a> for details. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#DescribeTableRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#DescribeTableResponse": {
      "type": "structure",
      "members": {
        "Table": {
          "target": "com.amazonaws.timestreamwrite#Table",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#Dimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p> Dimension represents the metadata attributes of the time series. For example, the name\n         and Availability Zone of an EC2 instance or the name of the manufacturer of a wind turbine\n         are dimensions. </p>\n         <p>For constraints on dimension names, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html#limits.naming\">Naming\n            Constraints</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.timestreamwrite#SchemaValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension.</p>",
            "smithy.api#required": {}
          }
        },
        "DimensionValueType": {
          "target": "com.amazonaws.timestreamwrite#DimensionValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the dimension for the time-series data point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the metadata attributes of the time series. For example, the name and\n         Availability Zone of an EC2 instance or the name of the manufacturer of a wind turbine are\n         dimensions. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#DimensionMapping": {
      "type": "structure",
      "members": {
        "SourceColumn": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "DestinationColumn": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p>\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#DimensionMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#DimensionMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.timestreamwrite#DimensionValueType": {
      "type": "enum",
      "members": {
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.timestreamwrite#Endpoint": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>An endpoint address.</p>",
            "smithy.api#required": {}
          }
        },
        "CachePeriodInMinutes": {
          "target": "com.amazonaws.timestreamwrite#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The TTL for the endpoint, in minutes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an available endpoint against which to make API calls against, as well as the\n         TTL for that endpoint.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#Endpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#Endpoint"
      }
    },
    "com.amazonaws.timestreamwrite#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.timestreamwrite#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.timestreamwrite#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Timestream was unable to fully process this request because of an internal server\n         error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.timestreamwrite#InvalidEndpointException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested endpoint was not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 421
      }
    },
    "com.amazonaws.timestreamwrite#ListBatchLoadTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#ListBatchLoadTasksRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#ListBatchLoadTasksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Provides a list of batch load tasks, along with the name, status, when the task is\n         resumable until, and other details. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-batch-load-tasks.html\">code\n            sample</a> for details.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.timestreamwrite#ListBatchLoadTasksRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. This is the NextToken from a previously\n         truncated response.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.timestreamwrite#PageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The total number of items to return in the output. If the total number of items\n         available is more than the value specified, a NextToken is provided in the output. To\n         resume pagination, provide the NextToken value as argument of a subsequent API\n         invocation.</p>"
          }
        },
        "TaskStatus": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the batch load task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListBatchLoadTasksResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. Provide the next\n         ListBatchLoadTasksRequest.</p>"
          }
        },
        "BatchLoadTasks": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskList",
          "traits": {
            "smithy.api#documentation": "<p>A list of batch load task details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListDatabases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#ListDatabasesRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#ListDatabasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Returns a list of your Timestream databases. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See\n            <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-db.html\">code sample</a> for\n         details. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.timestreamwrite#ListDatabasesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token. To resume pagination, provide the NextToken value as argument of a\n         subsequent API invocation.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.timestreamwrite#PaginationLimit",
          "traits": {
            "smithy.api#documentation": "<p>The total number of items to return in the output. If the total number of items\n         available is more than the value specified, a NextToken is provided in the output. To\n         resume pagination, provide the NextToken value as argument of a subsequent API\n         invocation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "Databases": {
          "target": "com.amazonaws.timestreamwrite#DatabaseList",
          "traits": {
            "smithy.api#documentation": "<p>A list of database names.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token. This parameter is returned when the response is truncated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListTables": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#ListTablesRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#ListTablesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>Provides a list of tables, along with the name, status, and retention properties of each\n         table. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-table.html\">code sample</a>\n         for details. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.timestreamwrite#ListTablesRequest": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token. To resume pagination, provide the NextToken value as argument of a\n         subsequent API invocation.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.timestreamwrite#PaginationLimit",
          "traits": {
            "smithy.api#documentation": "<p>The total number of items to return in the output. If the total number of items\n         available is more than the value specified, a NextToken is provided in the output. To\n         resume pagination, provide the NextToken value as argument of a subsequent API\n         invocation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListTablesResponse": {
      "type": "structure",
      "members": {
        "Tables": {
          "target": "com.amazonaws.timestreamwrite#TableList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tables.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. This is the NextToken from a previously\n         truncated response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p> Lists all tags on a Timestream resource. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.timestreamwrite#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The Timestream resource with tags to be listed. This value is an Amazon\n         Resource Name (ARN). </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.timestreamwrite#TagList",
          "traits": {
            "smithy.api#documentation": "<p> The tags currently associated with the Timestream resource. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#Long": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.timestreamwrite#MagneticStoreRejectedDataLocation": {
      "type": "structure",
      "members": {
        "S3Configuration": {
          "target": "com.amazonaws.timestreamwrite#S3Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration of an S3 location to write error reports for records rejected,\n         asynchronously, during magnetic store writes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location to write error reports for records rejected, asynchronously, during\n         magnetic store writes.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#MagneticStoreRetentionPeriodInDays": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 73000
        }
      }
    },
    "com.amazonaws.timestreamwrite#MagneticStoreWriteProperties": {
      "type": "structure",
      "members": {
        "EnableMagneticStoreWrites": {
          "target": "com.amazonaws.timestreamwrite#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag to enable magnetic store writes.</p>",
            "smithy.api#required": {}
          }
        },
        "MagneticStoreRejectedDataLocation": {
          "target": "com.amazonaws.timestreamwrite#MagneticStoreRejectedDataLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location to write error reports for records rejected asynchronously during magnetic\n         store writes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The set of properties on a table for configuring magnetic store writes.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#MeasureValue": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the MeasureValue. </p>\n         <p> For constraints on MeasureValue names, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html#limits.naming\"> Naming Constraints</a> in the Amazon Timestream Developer Guide.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p> The value for the MeasureValue. For information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/writes.html#writes.data-types\">Data\n         types</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.timestreamwrite#MeasureValueType",
          "traits": {
            "smithy.api#documentation": "<p>Contains the data type of the MeasureValue for the time-series data point.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the data attribute of the time series. For example, the CPU utilization of\n         an EC2 instance or the RPM of a wind turbine are measures. MeasureValue has both name and\n         value. </p>\n         <p> MeasureValue is only allowed for type <code>MULTI</code>. Using <code>MULTI</code>\n         type, you can pass multiple data attributes associated with the same time series in a\n         single record </p>"
      }
    },
    "com.amazonaws.timestreamwrite#MeasureValueType": {
      "type": "enum",
      "members": {
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGINT"
          }
        },
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#MeasureValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#MeasureValue"
      }
    },
    "com.amazonaws.timestreamwrite#MemoryStoreRetentionPeriodInHours": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 8766
        }
      }
    },
    "com.amazonaws.timestreamwrite#MixedMeasureMapping": {
      "type": "structure",
      "members": {
        "MeasureName": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "SourceColumn": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "TargetMeasureName": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "MeasureValueType": {
          "target": "com.amazonaws.timestreamwrite#MeasureValueType",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "MultiMeasureAttributeMappings": {
          "target": "com.amazonaws.timestreamwrite#MultiMeasureAttributeMappingList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#MixedMeasureMappingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#MixedMeasureMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.timestreamwrite#MultiMeasureAttributeMapping": {
      "type": "structure",
      "members": {
        "SourceColumn": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "TargetMultiMeasureAttributeName": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "MeasureValueType": {
          "target": "com.amazonaws.timestreamwrite#ScalarMeasureValueType",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#MultiMeasureAttributeMappingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#MultiMeasureAttributeMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.timestreamwrite#MultiMeasureMappings": {
      "type": "structure",
      "members": {
        "TargetMultiMeasureName": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "MultiMeasureAttributeMappings": {
          "target": "com.amazonaws.timestreamwrite#MultiMeasureAttributeMappingList",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#PageLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.timestreamwrite#PaginationLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.timestreamwrite#PartitionKey": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.timestreamwrite#PartitionKeyType",
          "traits": {
            "smithy.api#documentation": "<p> The type of the partition key. Options are DIMENSION (dimension key) and MEASURE\n         (measure key). </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the attribute used for a dimension key. </p>"
          }
        },
        "EnforcementInRecord": {
          "target": "com.amazonaws.timestreamwrite#PartitionKeyEnforcementLevel",
          "traits": {
            "smithy.api#documentation": "<p> The level of enforcement for the specification of a dimension key in ingested records.\n         Options are REQUIRED (dimension key must be specified) and OPTIONAL (dimension key does not\n         have to be specified). </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An attribute used in partitioning data in a table. A dimension key partitions data\n         using the values of the dimension specified by the dimension-name as partition key, while a\n         measure key partitions data using measure names (values of the 'measure_name' column).\n      </p>"
      }
    },
    "com.amazonaws.timestreamwrite#PartitionKeyEnforcementLevel": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONAL"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#PartitionKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#PartitionKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.timestreamwrite#PartitionKeyType": {
      "type": "enum",
      "members": {
        "DIMENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION"
          }
        },
        "MEASURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASURE"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#Record": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.timestreamwrite#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>Contains the list of dimensions for time-series data points.</p>"
          }
        },
        "MeasureName": {
          "target": "com.amazonaws.timestreamwrite#SchemaName",
          "traits": {
            "smithy.api#documentation": "<p>Measure represents the data attribute of the time series. For example, the CPU\n         utilization of an EC2 instance or the RPM of a wind turbine are measures. </p>"
          }
        },
        "MeasureValue": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p> Contains the measure value for the time-series data point. </p>"
          }
        },
        "MeasureValueType": {
          "target": "com.amazonaws.timestreamwrite#MeasureValueType",
          "traits": {
            "smithy.api#documentation": "<p> Contains the data type of the measure value for the time-series data point. Default\n         type is <code>DOUBLE</code>. For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/writes.html#writes.data-types\">Data\n         types</a>.</p>"
          }
        },
        "Time": {
          "target": "com.amazonaws.timestreamwrite#StringValue256",
          "traits": {
            "smithy.api#documentation": "<p> Contains the time at which the measure value for the data point was collected. The time\n         value plus the unit provides the time elapsed since the epoch. For example, if the time\n         value is <code>12345</code> and the unit is <code>ms</code>, then <code>12345 ms</code>\n         have elapsed since the epoch. </p>"
          }
        },
        "TimeUnit": {
          "target": "com.amazonaws.timestreamwrite#TimeUnit",
          "traits": {
            "smithy.api#documentation": "<p> The granularity of the timestamp unit. It indicates if the time value is in seconds,\n         milliseconds, nanoseconds, or other supported values. Default is <code>MILLISECONDS</code>.\n      </p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.timestreamwrite#RecordVersion",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>64-bit attribute used for record updates. Write requests for duplicate data with a\n         higher version number will update the existing measure value and version. In cases where\n         the measure value is the same, <code>Version</code> will still be updated. Default value is\n            <code>1</code>.</p>\n         <note>\n            <p>\n               <code>Version</code> must be <code>1</code> or greater, or you will receive a\n               <code>ValidationException</code> error.</p>\n         </note>"
          }
        },
        "MeasureValues": {
          "target": "com.amazonaws.timestreamwrite#MeasureValues",
          "traits": {
            "smithy.api#documentation": "<p> Contains the list of MeasureValue for time-series data points. </p>\n         <p> This is only allowed for type <code>MULTI</code>. For scalar values, use\n            <code>MeasureValue</code> attribute of the record directly. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a time-series data point being written into Timestream. Each record\n         contains an array of dimensions. Dimensions represent the metadata attributes of a\n         time-series data point, such as the instance name or Availability Zone of an EC2 instance.\n         A record also contains the measure name, which is the name of the measure being collected\n         (for example, the CPU utilization of an EC2 instance). Additionally, a record contains the\n         measure value and the value type, which is the data type of the measure value. Also, the\n         record contains the timestamp of when the measure was collected and the timestamp unit,\n         which represents the granularity of the timestamp. </p>\n         <p> Records have a <code>Version</code> field, which is a 64-bit <code>long</code> that you\n         can use for updating data points. Writes of a duplicate record with the same dimension,\n         timestamp, and measure name but different measure value will only succeed if the\n            <code>Version</code> attribute of the record in the write request is higher than that of\n         the existing record. Timestream defaults to a <code>Version</code> of\n            <code>1</code> for records without the <code>Version</code> field. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#RecordIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.timestreamwrite#RecordVersion": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.timestreamwrite#Records": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#Record"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.timestreamwrite#RecordsIngested": {
      "type": "structure",
      "members": {
        "Total": {
          "target": "com.amazonaws.timestreamwrite#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Total count of successfully ingested records.</p>"
          }
        },
        "MemoryStore": {
          "target": "com.amazonaws.timestreamwrite#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Count of records ingested into the memory store.</p>"
          }
        },
        "MagneticStore": {
          "target": "com.amazonaws.timestreamwrite#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Count of records ingested into the magnetic store.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information on the records ingested by this request.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#RejectedRecord": {
      "type": "structure",
      "members": {
        "RecordIndex": {
          "target": "com.amazonaws.timestreamwrite#RecordIndex",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> The index of the record in the input request for WriteRecords. Indexes begin with 0.\n      </p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p> The reason why a record was not successfully inserted into Timestream.\n         Possible causes of failure include: </p>\n         <ul>\n            <li>\n               <p>Records with duplicate data where there are multiple records with the same\n               dimensions, timestamps, and measure names but: </p>\n               <ul>\n                  <li>\n                     <p>Measure values are different</p>\n                  </li>\n                  <li>\n                     <p>Version is not present in the request, <i>or</i> the value of\n                     version in the new record is equal to or lower than the existing value</p>\n                  </li>\n               </ul>\n               <p>If Timestream rejects data for this case, the\n                  <code>ExistingVersion</code> field in the <code>RejectedRecords</code> response\n               will indicate the current record\u2019s version. To force an update, you can resend the\n               request with a version for the record set to a value greater than the\n                  <code>ExistingVersion</code>.</p>\n            </li>\n            <li>\n               <p> Records with timestamps that lie outside the retention duration of the memory\n               store. </p>\n               <note>\n                  <p>When the retention window is updated, you will receive a\n                     <code>RejectedRecords</code> exception if you immediately try to ingest data\n                  within the new window. To avoid a <code>RejectedRecords</code> exception, wait\n                  until the duration of the new window to ingest new data. For further information,\n                  see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/best-practices.html#configuration\"> Best\n                     Practices for Configuring Timestream</a> and <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/storage.html\">the\n                     explanation of how storage works in Timestream</a>.</p>\n               </note>\n            </li>\n            <li>\n               <p> Records with dimensions or measures that exceed the Timestream defined\n               limits. </p>\n            </li>\n         </ul>\n         <p> For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Access Management</a> in the\n            Timestream Developer Guide. </p>"
          }
        },
        "ExistingVersion": {
          "target": "com.amazonaws.timestreamwrite#RecordVersion",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The existing version of the record. This value is populated in scenarios where an\n         identical record exists with a higher version than the version in the write request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents records that were not successfully inserted into Timestream due to\n         data validation issues that must be resolved before reinserting time-series data into the\n         system. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#RejectedRecords": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#RejectedRecord"
      }
    },
    "com.amazonaws.timestreamwrite#RejectedRecordsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage"
        },
        "RejectedRecords": {
          "target": "com.amazonaws.timestreamwrite#RejectedRecords",
          "traits": {
            "smithy.api#documentation": "<p>\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> WriteRecords would throw this exception in the following cases: </p>\n         <ul>\n            <li>\n               <p>Records with duplicate data where there are multiple records with the same\n               dimensions, timestamps, and measure names but: </p>\n               <ul>\n                  <li>\n                     <p>Measure values are different</p>\n                  </li>\n                  <li>\n                     <p>Version is not present in the request <i>or</i> the value of\n                     version in the new record is equal to or lower than the existing value</p>\n                  </li>\n               </ul>\n               <p> In this case, if Timestream rejects data, the\n                  <code>ExistingVersion</code> field in the <code>RejectedRecords</code> response\n               will indicate the current record\u2019s version. To force an update, you can resend the\n               request with a version for the record set to a value greater than the\n                  <code>ExistingVersion</code>.</p>\n            </li>\n            <li>\n               <p> Records with timestamps that lie outside the retention duration of the memory\n               store. </p>\n            </li>\n            <li>\n               <p> Records with dimensions or measures that exceed the Timestream defined\n               limits. </p>\n            </li>\n         </ul>\n         <p> For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Quotas</a> in the Amazon Timestream Developer Guide. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 419
      }
    },
    "com.amazonaws.timestreamwrite#ReportConfiguration": {
      "type": "structure",
      "members": {
        "ReportS3Configuration": {
          "target": "com.amazonaws.timestreamwrite#ReportS3Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration of an S3 location to write error reports and events for a batch\n         load.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Report configuration for a batch load task. This contains details about where error\n         reports are stored.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#ReportS3Configuration": {
      "type": "structure",
      "members": {
        "BucketName": {
          "target": "com.amazonaws.timestreamwrite#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "ObjectKeyPrefix": {
          "target": "com.amazonaws.timestreamwrite#S3ObjectKeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "EncryptionOption": {
          "target": "com.amazonaws.timestreamwrite#S3EncryptionOption",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.timestreamwrite#ResourceCreateAPIName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.timestreamwrite#ResourceName": {
      "type": "string"
    },
    "com.amazonaws.timestreamwrite#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation tried to access a nonexistent resource. The resource might not be\n         specified correctly, or its status might not be ACTIVE.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.timestreamwrite#ResumeBatchLoadTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.timestreamwrite#ResumeBatchLoadTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.timestreamwrite#ResumeBatchLoadTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.timestreamwrite#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InternalServerException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ThrottlingException"
        },
        {
          "target": "com.amazonaws.timestreamwrite#ValidationException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": true
        },
        "smithy.api#documentation": "<p>\n      </p>"
      }
    },
    "com.amazonaws.timestreamwrite#ResumeBatchLoadTaskRequest": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.timestreamwrite#BatchLoadTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch load task to resume.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.timestreamwrite#ResumeBatchLoadTaskResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.timestreamwrite#RetentionProperties": {
      "type": "structure",
      "members": {
        "MemoryStoreRetentionPeriodInHours": {
          "target": "com.amazonaws.timestreamwrite#MemoryStoreRetentionPeriodInHours",
          "traits": {
            "smithy.api#documentation": "<p>The duration for which data must be stored in the memory store. </p>",
            "smithy.api#required": {}
          }
        },
        "MagneticStoreRetentionPeriodInDays": {
          "target": "com.amazonaws.timestreamwrite#MagneticStoreRetentionPeriodInDays",
          "traits": {
            "smithy.api#documentation": "<p>The duration for which data must be stored in the magnetic store. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retention properties contain the duration for which your time-series data must be stored\n         in the magnetic store and the memory store. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#S3BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]$"
      }
    },
    "com.amazonaws.timestreamwrite#S3Configuration": {
      "type": "structure",
      "members": {
        "BucketName": {
          "target": "com.amazonaws.timestreamwrite#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucket name of the customer S3 bucket.</p>"
          }
        },
        "ObjectKeyPrefix": {
          "target": "com.amazonaws.timestreamwrite#S3ObjectKeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The object key preview for the customer S3 location.</p>"
          }
        },
        "EncryptionOption": {
          "target": "com.amazonaws.timestreamwrite#S3EncryptionOption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption option for the customer S3 location. Options are S3 server-side\n         encryption with an S3 managed key or Amazon Web Services managed key.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.timestreamwrite#StringValue2048",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ID for the customer S3 location when encrypting with an\n            Amazon Web Services managed key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration that specifies an S3 location.</p>"
      }
    },
    "com.amazonaws.timestreamwrite#S3EncryptionOption": {
      "type": "enum",
      "members": {
        "SSE_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSE_S3"
          }
        },
        "SSE_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSE_KMS"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#S3ObjectKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[a-zA-Z0-9|!\\-_*'\\(\\)]([a-zA-Z0-9]|[!\\-_*'\\(\\)\\/.])+$"
      }
    },
    "com.amazonaws.timestreamwrite#S3ObjectKeyPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 928
        },
        "smithy.api#pattern": "^[a-zA-Z0-9|!\\-_*'\\(\\)]([a-zA-Z0-9]|[!\\-_*'\\(\\)\\/.])+$"
      }
    },
    "com.amazonaws.timestreamwrite#ScalarMeasureValueType": {
      "type": "enum",
      "members": {
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "BIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGINT"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "VARCHAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARCHAR"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#Schema": {
      "type": "structure",
      "members": {
        "CompositePartitionKey": {
          "target": "com.amazonaws.timestreamwrite#PartitionKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A non-empty list of partition keys defining the attributes used to partition the table\n         data. The order of the list determines the partition hierarchy. The name and type of each\n         partition key as well as the partition key order cannot be changed after the table is\n         created. However, the enforcement level of each partition key can be changed. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A Schema specifies the expected data model of the table. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#SchemaName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.timestreamwrite#SchemaValue": {
      "type": "string"
    },
    "com.amazonaws.timestreamwrite#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.timestreamwrite#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The instance quota of resource exceeded for this account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.timestreamwrite#String": {
      "type": "string"
    },
    "com.amazonaws.timestreamwrite#StringValue1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.timestreamwrite#StringValue2048": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.timestreamwrite#StringValue256": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.timestreamwrite#Table": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.timestreamwrite#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name that uniquely identifies this table.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream table.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.timestreamwrite#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Timestream database that contains this table.</p>"
          }
        },
        "TableStatus": {
          "target": "com.amazonaws.timestreamwrite#TableStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the table:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DELETING</code> - The table is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> - The table is ready for use.</p>\n            </li>\n         </ul>"
          }
        },
        "RetentionProperties": {
          "target": "com.amazonaws.timestreamwrite#RetentionProperties",
          "traits": {
            "smithy.api#documentation": "<p>The retention duration for the memory store and magnetic store.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Timestream table was created. </p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.timestreamwrite#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Timestream table was last updated.</p>"
          }
        },
        "MagneticStoreWriteProperties": {
          "target": "com.amazonaws.timestreamwrite#MagneticStoreWriteProperties",
          "traits": {
            "smithy.api#documentation": "<p>Contains properties to set on the table when enabling magnetic store writes.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.timestreamwrite#Schema",
          "traits": {
            "smithy.api#documentation": "<p> The schema of the table. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a database table in Timestream. Tables contain one or more related\n         time series. You can modify the retention duration of the memory store and the magnetic\n         store for a table. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#TableList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.timestreamwrite#Table"
      }
    },
    "com.amazonaws.timestreamwrite#TableStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        }
      }
    },
    "com.amazonaws.timestreamwrite#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.timestreamwrite#TagKey",
          "traits": {
            "smithy.api#documentation": "<p> The key of the tag. Tag keys are case sensitive. </p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.timestreamwrite#TagValue",
          "traits": {
            "smithy.api#documentation": "<p> The value of the tag. Tag values are case-sensitive and can be null. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A tag is a label that you assign to a Timestream database and/or table. Each\n         tag consists of a key and an optional value, both of which you define. With tags, you can\n         categorize databases and/or tables, for example, by purpose, owner, or environment. </p>"
      }
    },
    "com.amazonaws.timestreamwrite#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.timestreamwrite#TagKeyList": {
      "type": "list",
      "member": {
[...]
